<div style="text-align: left; top:px; font-size:150%;">
  <%= @merchant.name %>
</div>

<div style="text-align: right; top:-10px;font-size:100%;">
  <%= render partial: '/layouts/partials/merchant_dashboard_links' %><br>
</div>

<div style = "position:absolute; right:30px; top:200px">
  <%= render partial: '/layouts/partials/top_customers' %>
</div>

<div style = "position:absolute; left:30px; top:200px">
<h3>Items Ready to Ship</h3>
  <% @merchant.items_not_shipped.each do |item| %>
    <div id="item<%=item.id%>">
      <li><%= item.name %> - Invoice# <%= link_to item.invoice_id, merchant_invoice_path(@merchant.id, item.invoice_id) %> - <%= item.invoice_created.strftime("%A, %B %d,%Y") %></li>
    </div>
  <% end %>
</div>
